.idea

./account-service/.mvn
./account-service/target
./account-service/mvnw
./account-service/mvnw.cmd

./payment-service/.mvn
./payment-service/target
./payment-service/mvnw
./payment-service/mvnw.cmd

./API-gateway/.mvn
./API-gateway/target
./API-gateway/mvnw
./API-gateway/mvnw.cmd

./fraud-detection-service/.mvn
./fraud-detection-service/target
./fraud-detection-service/mvnw
./fraud-detection-service/mvnw.cmd

./notification-service/.mvn
./notification-service/target
./notification-service/mvnw
./notification-service/mvnw.cmd

./transaction-service/.mvn
./transaction-service/target
./transaction-service/mvnw
./transaction-service/mvnw.cmd